<ng-container *ngIf="isOpen && project">
    <div class="dialog-backdrop" (click)="onBackdropClick()" aria-hidden="true"></div>

    <div class="dialog-wrapper" (click)="onBackdropClick()">
        <article class="dialog" role="dialog" aria-modal="true" [attr.aria-label]="project.title"
            (click)="onDialogClick($event)">
            <button class="dialog__close" type="button" (click)="onClose()" aria-label="Close project dialog">
                <div class="dialog__close-in">
                    <div class="dialog__close-block"></div>
                    <div class="dialog__close-block"></div>
                </div>
                <div class="dialog__close-out">
                    <div class="dialog__close-block"></div>
                    <div class="dialog__close-block"></div>
                </div>
            </button>

            <app-project-info [@contentState]="contentState"
                [project]="displayedProject!" [projectIndex]="displayedIndex!" />

            <div class="dialog__visual" [@contentState]="contentState" (@contentState.done)="onContentAnimDone($event)">
                @if (displayedProject?.video) {
                    <video class="dialog__video" [src]="displayedProject!.video" autoplay muted loop playsinline
                        [attr.aria-label]="displayedProject!.previewAlt">
                        <img class="dialog__image" [src]="displayedProject!.preview" [alt]="displayedProject!.previewAlt" />
                    </video>
                } @else {
                    <img class="dialog__image" [src]="displayedProject!.preview" [alt]="displayedProject!.previewAlt" />
                }
            </div>

            <button class="dialog__next" type="button" (click)="onNext($event)">
                <svg xmlns="http://www.w3.org/2000/svg" class="dialog__next-arr dialog__next-arr--2" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z" />
                </svg>
                <span class="dialog__next-text">
                    <span>{{ 'projects.dialog.nextProject' | transloco }}</span>
                    <span aria-hidden="true">{{ 'projects.dialog.nextProject' | transloco }}</span>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" class="dialog__next-arr dialog__next-arr--1" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z" />
                </svg>
            </button>
        </article>
    </div>
</ng-container>