.right-lateral {
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.email {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font: 400 18px/1.2 Karla, sans-serif;
  color: #fff;
  text-decoration: none;
  height: 22px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 32px;
  height: 76px;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  fill: #3dcfb6;
  width: 26px;
  height: 26px;
}

.line {
  width: 0;
  height: 186px;
  border-left: 1px solid #fff;
}
