<div class="info" [class.info--dense]="denseStack">
    <div class="info__header">
        <span class="info__counter" aria-hidden="true">{{ formatProjectNumber(projectIndex) }}</span>
        <div class="info__title">
            <h3 class="info__name">{{ project.title | transloco }}</h3>
        </div>
    </div>

    <div class="info__summary">
        <h4 class="info__question">{{ 'projects.dialog.question' | transloco }}</h4>
        <p class="info__description">{{ project.description | transloco }}</p>
    </div>

    <ul class="info__stack" aria-label="Technologies used">
        <li class="info__stack-item" *ngFor="let tech of project.stack">
            <span class="info__stack-icon" [style.--icon-url]="'url(' + tech.icon + ')'" [attr.aria-label]="tech.alt"
                role="img"></span>
            <span>{{ tech.label }}</span>
        </li>
    </ul>

    <div class="info__actions" (click)="$event.stopPropagation()">
        <ng-container *ngIf="hasTwoRepos; else singleGithubButton">
            <button *ngIf="!isRepoChoiceOpen" type="button" class="info__repo-button" (click)="openRepoChoice($event)">
                <ng-container
                    *ngTemplateOutlet="repoButtonInner; context: { label: 'projects.dialog.github' }"></ng-container>
            </button>
            <a *ngIf="isRepoChoiceOpen" class="info__repo-button" [href]="project.githubUrl" target="_blank"
                rel="noopener noreferrer">
                <ng-container
                    *ngTemplateOutlet="repoButtonInner; context: { label: 'projects.dialog.frontend' }"></ng-container>
            </a>
        </ng-container>
        <ng-template #singleGithubButton>
            <a *ngIf="project.githubUrl" class="info__repo-button" [href]="project.githubUrl" target="_blank"
                rel="noopener noreferrer">
                <ng-container
                    *ngTemplateOutlet="repoButtonInner; context: { label: 'projects.dialog.github' }"></ng-container>
            </a>
        </ng-template>

        <button *ngIf="hasTwoRepos && isRepoChoiceOpen" type="button" class="info__repo-close"
            (click)="closeRepoChoice()" [attr.aria-label]="'projects.dialog.closeChoice' | transloco">
            <span aria-hidden="true">&#10005;</span>
        </button>

        <ng-container *ngIf="hasTwoRepos && isRepoChoiceOpen; else liveDemoButton">
            <a class="info__repo-button" [href]="project.backendUrl" target="_blank" rel="noopener noreferrer">
                <ng-container
                    *ngTemplateOutlet="repoButtonInner; context: { label: 'projects.dialog.backend' }"></ng-container>
            </a>
        </ng-container>
        <ng-template #liveDemoButton>
            <a *ngIf="project.liveUrl" class="info__repo-button" [href]="project.liveUrl" target="_blank"
                rel="noopener noreferrer">
                <ng-container
                    *ngTemplateOutlet="repoButtonInner; context: { label: 'projects.dialog.liveTest' }"></ng-container>
            </a>
        </ng-template>

        <ng-template #repoButtonInner let-label="label">
            <span class="info__repo-button-corner info__repo-button-corner--tl" aria-hidden="true"></span>
            <span class="info__repo-button-corner info__repo-button-corner--tr" aria-hidden="true"></span>
            <span class="info__repo-button-corner info__repo-button-corner--bl" aria-hidden="true"></span>
            <span class="info__repo-button-corner info__repo-button-corner--br" aria-hidden="true"></span>
            <span class="info__repo-button-box">
                <span class="info__repo-button-sl" aria-hidden="true"></span>
                <span class="info__repo-button-text">{{ label | transloco }}</span>
            </span>
        </ng-template>
    </div>
</div>